/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #68a8e3;
  --ifm-color-primary-dark: #4682B4;
  --ifm-color-primary-darker: #3a6d95;
  --ifm-color-primary-darkest: #2d5374;
  --ifm-color-primary-light: #87CEEB;
  --ifm-color-primary-lighter: #a4d6f0;
  --ifm-color-primary-lightest: #c1e2f5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #68a8e3;
  --ifm-color-primary-dark: #4682B4;
  --ifm-color-primary-darker: #3a6d95;
  --ifm-color-primary-darkest: #2d5374;
  --ifm-color-primary-light: #87CEEB;
  --ifm-color-primary-lighter: #a4d6f0;
  --ifm-color-primary-lightest: #c1e2f5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Markdown 文件标题颜色 */
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  color: var(--ifm-color-primary);
}
